* {
  list-style: none;
  text-decoration: none;
}

body {
  background-color: lightgrey;
}
.container {
  height: 231px;
  background-image: linear-gradient(to bottom, black, blue);
  margin: auto;
  border: 5px solid darkgrey;
  border-radius: 10px;
  text-align: center;
  position: relative;
}

h1 {
  font-size: 48px;
  line-height: 0%;
}

h2 {
  font-size: 20px;
}

h1,
h2 {
  color: darkgrey;
}

.vis1,
.vis2,
.vis3,
.vis4 {
  position: absolute;
  width: 30px;
  height: 30px;
}

.vis1 {
  top: 0;
  left: 0;
}

.vis2 {
  top: 0;
  right: 0;
}

.vis3 {
  bottom: 0;
  left: 0;
}

.vis4 {
  bottom: 0;
  right: 0;
}

.address {
  position: absolute;
  top: 50px;
  right: 50px;
  text-align: right;
  color: darkgray;
  font-weight: bold;
}
@media only screen and (max-width: 880px) {
  .icon-menu img[src="Image2.png"][alt=""] {
    display: block;
    position: absolute;
    height: 35px;
    width: 35px;
    top: 150px;
  }

  nav {
    visibility: hidden;
  }
}

@media only screen and (max-width: 1000px) {
  .address {
    visibility: hidden;
  }
}

@media only screen and (max-width: 650px) {
  .logo img {
    height: 60px;
    width: auto;
  }
  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 16px;
  }
}

nav .nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .nav-list .nav-item {
  cursor: pointer;
  height: 100%;
  padding: 0 30px;
  transition: 0.4s;
}
nav .nav-list .nav-item:hover {
  background: #ff0000;
  border-radius: 10px;
}

nav .nav-list .nav-link {
  color: silver;
  font-size: 18px;
  font-weight: 500;
}

.banner {
  height: 30px;
  background-color: #f5f5f5;
  padding: 10px;
  width: auto;
  /*text-align: center;*/
}

.icon-menu img[src="Image2.png"] {
  display: none;
  position: absolute;
  height: 35px;
  width: 35px;
  top: 150px;
}

/* style pour le texte défilant*/
.scrolling-text {
  font-size: 20px;
  color: #333333;
  white-space: nowrap;
  overflow: hidden;
  animation: scroll-left 15s linear infinite;
}

/* animation pour le texte défilant */
@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/*slider*/

.slide img {
  width: 1000px;
  height: 400px;
}

.slider {
  width: 1000px;
  overflow: hidden;
  margin: auto;
}

.slides {
  width: calc(1000px * 4);
  animation: glisse 10s infinite;
}

.slide {
  float: left;
}

@keyframes glisse {
  0% {
    transform: translateX(0);
  }
  12.5% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-1000px);
  }
  37.5% {
    transform: translateX(-1000px);
  }
  50% {
    transform: translateX(-2000px);
  }
  62.5% {
    transform: translateX(-2000px);
  }
  75% {
    transform: translateX(-3000px);
  }
  87.5% {
    transform: translateX(-3000px);
  }
  100% {
    transform: translateX(0);
  }
}

.titre {
  font-size: 20px;
  text-align: center;
  color: darkblue;
  margin-top: 0;
}

.section1 {
  width: 100%;
  padding: 10px;
  font-size: larger;
  font-weight: bold;
}

.img1 {
  height: 400px;
  width: 100 px;
  float: left;
  border: 10px solid darkblue;
  margin: 30px;
}

.section2 {
  float: right;
  width: 100%;
}
.img2 {
  height: 400px;
  width: 400px;
  float: right;
  border: 10px solid darkblue;
  margin: 30px;
}

.section3 {
  float: left;
  width: 100%;
}

.img3 {
  float: left;
  height: 400px;
  width: 400px;
  border: 10px solid darkblue;
  margin: 30px;
}
.section4 {
  float: right;
  width: 100%;
}

.img4 {
  height: 400px;
  width: 400px;
  float: right;
  border: 10px solid darkblue;
  margin: 30px;
}

.logo2 {
}

.contact-box {
  text-align: center;
  background-color: darkblue;
  padding: 20px;
}

.contact-box p {
  margin-bottom: 10px;
}

.contact-box a {
  text-decoration: none;
  color: red;
  font-weight: bold;
}
