* {
  list-style: none;
  text-decoration: none;
}
.container {
  width: 1440p
  height: 231px;
  background-image: linear-gradient(to bottom, black, blue);
  margin: auto;
  border: 5px solid darkgrey;
  border-radius: 10px;
  text-align: center;
  position: relative;
}

h1 {
  font-size: 48px;
  line-height: 0%;
}

h2 {
  font-size: 20px;
}

h1,
h2 {
  color: darkgrey;
}

.vis1,
.vis2,
.vis3,
.vis4 {
  position: absolute;
  width: 30px;
  height: 30px;
}

.vis1 {
  top: 0;
  left: 0;
}

.vis2 {
  top: 0;
  right: 0;
}

.vis3 {
  bottom: 0;
  left: 0;
}

.vis4 {
  bottom: 0;
  right: 0;
}

.address {
  position: absolute;
  top: 50px;
  right: 50px;
  text-align: right;
  color: darkgray;
  font-weight: bold;
}
#icon-menu {
  position: absolute;
}

nav .nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .nav-list .nav-item {
  cursor: pointer;
  height: 100%;
  padding: 0 30px;
  transition: 0.4s;
}
nav .nav-list .nav-item:hover {
  background: #ff0000;
  border-radius: 10px;
}

nav .nav-list .nav-link {
  color: silver;
  font-size: 18px;
  font-weight: 500;
}

.banner {
  background-color: #f5f5f5;
  padding: 10px;
  text-align: center;
}

/* Styles pour le texte défilant */
.scrolling-text {
  font-size: 20px;
  color: #333333;
  white-space: nowrap;
  overflow: hidden;
  animation: scroll-left 15s linear infinite;
}

/* Animation pour le défilement du texte */
@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
